.u-section-1 .u-sheet-1 {
    min-height: 716px;
  }
  
  .u-section-1 .u-group-1 {
    width: 680px;
    min-height: 214px;
    height: auto;
    margin: 10px auto 0 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-text-1 {
    margin: 9px 486px 0 0;
  }
  
  .u-section-1 .u-group-2 {
    width: 379px;
    min-height: 132px;
    height: auto;
    margin: 10px auto 0 -22px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-2 {
    width: 238px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-3 {
    width: 264px;
    min-height: 132px;
    height: auto;
    margin: -133px -18px 0 auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-3 {
    margin: 27px -15px 0;
  }
  
  .u-section-1 .u-group-4 {
    width: 447px;
    min-height: 208px;
    height: auto;
    margin: -214px auto 0 693px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-4 {
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-5 {
    width: 447px;
    min-height: 462px;
    height: auto;
    margin: 21px auto 0 693px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-5 {
    margin: 13px 205px 0 0;
  }
  
  .u-section-1 .u-group-6 {
    width: 388px;
    min-height: 376px;
    height: auto;
    margin: 12px -4px 0;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-text-6 {
    margin: 0 30px;
  }
  
  .u-section-1 .u-group-7 {
    width: 680px;
    min-height: 458px;
    height: auto;
    margin: -459px auto 16px 0;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-text-7 {
    margin: 7px 0 0;
  }
  
  .u-section-1 .u-group-8 {
    width: 204px;
    min-height: 375px;
    height: auto;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-8 {
    margin: 0;
  }
  
  .u-section-1 .u-group-9 {
    width: 388px;
    min-height: 376px;
    height: auto;
    margin: -376px 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-text-9 {
    width: 241px;
    margin: 165px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 711px;
    }
  
    .u-section-1 .u-group-1 {
      width: 460px;
      min-height: 477px;
      margin-top: -504px;
      margin-right: 0;
      margin-left: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 266px;
    }
  
    .u-section-1 .u-group-2 {
      width: 403px;
      min-height: 184px;
      margin-top: 18px;
      margin-left: -4px;
      margin-right: -4px;
      height: auto;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 56px;
    }
  
    .u-section-1 .u-group-3 {
      min-height: 190px;
      width: 401px;
      margin-top: 19px;
      margin-left: -3px;
      margin-right: -3px;
      height: auto;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: 0;
      margin-right: -10px;
      margin-left: 10px;
    }
  
    .u-section-1 .u-group-4 {
      margin-top: 27px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
      height: auto;
    }
  
    .u-section-1 .u-group-5 {
      margin-top: 14px;
      margin-left: 493px;
      height: auto;
    }
  
    .u-section-1 .u-group-6 {
      height: auto;
    }
  
    .u-section-1 .u-group-7 {
      width: 470px;
      min-height: 462px;
      margin-top: -462px;
      margin-bottom: 27px;
      height: auto;
    }
  
    .u-section-1 .u-group-8 {
      min-height: 180px;
      margin-top: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-8 {
      width: 267px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-group-9 {
      min-height: 205px;
      margin-top: 10px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-9 {
      margin-top: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1404px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 255px;
      margin-top: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 526px;
    }
  
    .u-section-1 .u-group-2 {
      width: 322px;
      min-height: 177px;
      margin-top: 13px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-1 .u-group-3 {
      width: 320px;
      min-height: 176px;
      margin-top: -176px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-group-4 {
      min-height: 165px;
      margin-top: 10px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
    }
  
    .u-section-1 .u-group-5 {
      margin-top: 493px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 478px;
    }
  
    .u-section-1 .u-group-6 {
      width: 658px;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-6 {
      width: 269px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-group-7 {
      margin-top: -943px;
      margin-bottom: 60px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 266px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-group-4 {
      margin-top: 20px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 205px;
    }
  
    .u-section-1 .u-group-6 {
      width: 520px;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-group-7 {
      margin-top: 20px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1556px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 427px;
      margin-top: 12px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 0;
      padding-right: 8px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 146px;
    }
  
    .u-section-1 .u-group-2 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-group-3 {
      width: 314px;
      margin-top: 7px;
      margin-left: 2px;
    }
  
    .u-section-1 .u-text-3 {
      margin-top: 71px;
    }
  
    .u-section-1 .u-group-4 {
      margin-top: 7px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-4 {
      width: 55px;
    }
  
    .u-section-1 .u-group-5 {
      margin-top: 476px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 98px;
    }
  
    .u-section-1 .u-group-6 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-group-7 {
      margin-top: -931px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 123px;
  }
  
  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-bottom: 18px;
    min-height: 105px;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 31px 898px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-group-1 {
      height: auto;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-bottom: 0;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 698px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      margin-right: 478px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 338px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-1 {
      margin-right: 138px;
    }
  }