*      
                body{                
	                    background-color: #A9A9A9;
						face: "Calibri";
                    }       
				#Header
					{
						background-color: #D7D7D7;                
						color:black;               
						 width: 960px;  
						 height: 120px;
						 margin: 10px auto;                
						 border: 2px #000000 solid;   
						text-align: center
					}
				#nav
					{
						background-color: #ECECEC;                
						color:black;               
						 width: 920px;  
						 height: 60px;
						 margin: 20px auto;   
						 top: 60%;
                         display: flex;
						align-items: center;
						justify-content: center;
						 border: 2px #000000 solid;   
						text-align: center
					}
				#Section1
					{
						background-color: #D7D7D7;                
						color:black;               
						 width: 320px;  
						 height: 960px;
						 margin: 10px auto;                
						 border: 2px #000000 solid;   
						text-align: center
					}
                #Header2
                    {
                        background-color: #ECECEC;                
						color:black;               
						 width: 300px;  
						 height: 60px;
						 margin: 20px auto;   
						 top: 60%;
                         display: flex;
						align-items: center;
						justify-content: center;
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #nav2
                    {
                        background-color: #ECECEC;                
						color:black;               
						 width: 300px;  
						 height: 720px;
						 margin: 20px auto;   
						 top: 20%;
                         display: flex;
						align-items: center;
						justify-content: center;
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #Section2
                    {
                        background-color: #D7D7D7;                
						color:black;               
						 width: 640px;  
						 height: 960px;
						 margin: 10px auto;                
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #Header3
                    {
                        background-color: #ECECEC;                
						color:black;               
						 width: 570px;  
						 height: 65px;
						 margin: 20px auto;   
						 top: 60%;
                         display: flex;
						align-items: center;
						justify-content: center;
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #article
                    {
                        background-color: #ECECEC;                
						color:black;               
						 width: 570px;  
						 height: 345px;
						 margin: 20px auto;   
						 top: 60%;
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #THeader
                    {
                        background-color: #FFFFFF;                
						color:black;               
						 width: 520px;  
						 height: 50px;
						 margin: 20px auto;   
						 top: 55%;
                         display: flex;
						align-items: center;
						justify-content: center;
						 border: 2px #000000 solid;   
						text-align: center
                    }
				#p
                    {
                        background-color: #FFFFFF;                
						color:black;               
						 width: 350px;  
						 height: 130px;       
                         display: flex;
						align-items: center;
						justify-content: center;       
						 border: 2px #000000 solid;   
						text-align: center
                    }
                #aside
                    {
                        background-color: #FFFFFF;                
						color:black;               
						 width: 170px;  
						 height: 130px;  
                         display: flex;
						align-items: center;
						justify-content: center;        
						 border: 2px #000000 solid;   
						text-align: center
                    }
				#Footer1
					{
						background-color: #C1C1C1;                
						color:black;               
						 width: 960px;  
						 height: 60px;
                         display: flex;
						align-items: center;
						justify-content: center;
						 margin: 20px auto;                
						 border: 2px #000000 solid;   
						text-align: center
					}
                    </style>  